.main-button-mm.collapsed {
    .mmmm {
        display: none;
    }
    .mmm {
        display: block;
    }
}
.main-button-mm {
    .mmm {
        display: none;
        color: #000;
        span.plussss {
            color: black;
        }
    }
    .mmmm {
        display: block;
    }
}
.inner-main-right {
    .minus-sign {
        // font-size: 40px !important;
        color: #ff00e7;
        font-weight: 300 !important;
    }
}

// .main-button-mm{
//     .mmm{
//         display: block;
//     }
// }
.highlightsxxxx {
    p.common.highlightsheading {
        // font-family: "Chakra Petch";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        text-transform: uppercase;
        color: #ff00e7;
        // margin-bottom: 20px;
    }
    h2.Pioneersss {
        font-family: "Goldman";
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;

        text-transform: capitalize;

        color: #ff0083;
    }
    p.faqs_para {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #a3a3a3;
    }
}
.commonnn {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #ff00e7;
}

.main-faqs {
    margin-top: 150px;
    margin-bottom: 151px;
    /* padding-top: 71px; */
    // background: #E5E5E5;
    // padding-bottom: 20px;
    // margin-bottom: 107px;
    .highlightsxxxx {
        text-align: center;
        // margin-top: 150px;
        // margin-bottom: 151px;
        padding-top: 61px;
    }
    .main-dd {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        width: 100%;
        .inner-main-left {
            display: flex;
            justify-content: start;
            // align-items: center;
            // padding: 30px 0px 10px 30px;
            .inner-left {
                padding-right: 10px;
                span {
                    // font-family: "Chakra Petch";
                    font-style: normal;
                    // font-weight: 600;
                    font-size: 18px !important;
                    line-height: 130%;
                    color: #ff00e7;
                }
            }
            .inner-right {
                h5 {
                    // font-family: "Chakra Petch" !important;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 130%;
                    color: #000000;
                }
            }
        }
        .inner-main-right {
            padding-left: 10px;
            p {
                // font-family: "Chakra Petch";
                font-style: normal;
                // font-weight: 600;
                font-size: 30px !important;
                line-height: 130%;
                color: #ff00e7;
            }
        }
    }
    .inner-upper {
        z-index: 150;
    }
    .ptb {
        padding: 80px 0 !important;
    }
    .inner-side {
        .card {
            background: transparent;
            // font-family: "Chakra Petch" !important;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            color: #111216;
            // margin-bottom: 20px;
            border-bottom: 1px solid #dadada !important;
            border: aliceblue;
            // border: none !important;
            // border-style: solid;
            // border-color: #ff00e7;
            &:first-child {
                // border-top: 2px solid #ffffff1a;
                // border-radius : 10px solid (90deg, #020024 0%, #ff00e0 100%, #00d4ff 100%);
            }
            // .card.gradient-box {
            //     border-style: solid;
            //     border-color: red #f01e32b3 green;
            // }
            .card-header {
                padding: 0px;
                // font-family: "Chakra Petch" !important;
                border-bottom: none;
                .btn {
                    color: #ffffff;
                    width: 100%;
                    text-align: left;
                    padding-left: 0;
                    white-space: unset !important;
                    text-decoration: none;
                }
                .fa-plus,
                .fa-minus {
                    color: #f88d21;
                }
                h5 {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                }
            }
        }
    }
    .main-tile {
        margin-bottom: 10px;
        margin-top: 40px;
        background: #f7f9fb;
        border: 2px solid #ffffff1a;
        box-sizing: border-box;
        // backdrop-filter: blur(50px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 10px;
        padding: 30px 20px;
        border: transparent;
        // height:301px;
        &:hover {
            box-shadow: 5px 5px 30px #f07a3d33;
            // border: 1px solid #1e202966;
            border: 2px solid transparent;
        }
    }
    .inner-content {
        .svss {
            // font-family: "Chakra Petch" !important;
            font-style: normal;
            // font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #a3a3a3;
            padding-top: 15px;
            padding-bottom: 70.5px;
        }
        .shdbshb {
            // font-family: "Chakra Petch" !important;
            font-style: normal;
            // font-weight: 700;
            font-size: 40px;
            line-height: 110%;
            text-transform: uppercase;
            color: #000000;
        }
        img {
            border-radius: 10px;
        }
    }
    .inner-side .card .card-header {
        background-color: #ffffff;
        border: 0px 0px 38px 54px;
        border-radius: 10px 10px 10px 10px;
        // font-family: "Chakra Petch" !important;
        h5 {
            // font-family: "Chakra Petch";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            /* or 23px */

            color: #000000;
        }
        p {
            // font-family: "Gellix";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #dadff5;
        }
    }
    .card-body {
        padding-top: 0px;

        padding-left: 67px;
        padding-bottom: 35px;
        padding-right: 35px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #a3a3a3;
    }
}
.main-faqs .inner-side .card .card-header .btn {
    padding: 0px;
}
.main-faqs .main-dd {
    // padding: 15px 0px;
}
.btn.focus,
.btn:focus {
    box-shadow: unset !important;
}
@media (max-width: 600px) {
    .highlightsxxxx h2.Pioneersss {
        font-size: 25px;
    }
    img.img-fluid.marginbutm {
        margin-bottom: 30px;
    }
}
@media (max-width: 800px) {
    // .highlightsxxxx h2.Pioneersss {

    //     font-size: 35px;

    // }
    .main-faqs {
        margin-top: unset;
        margin-bottom: unset;
        padding-top: unset;
    }
    ul.list-inline {
        // display: flex;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 6.5rem;
        margin: 0 auto;
        display: block;
        margin-bottom: 50px !important;
    }
    .main-faqs .highlightsxxxx {
        text-align: center;
        margin-top: 15px;
    }
    .main-faqs {
        padding-bottom: 0px;
    }
    .inner-side {
        .card {
            .card-header h5 {
                font-size: 14px;
            }
        }
    }
    .main-faqs .highlightsxxxx {
        text-align: center;
        margin-top: 15px;
    }
}

.card-header:first-child {
    border-radius: 0px !important;
}
.main-faqs .inner-side .card .card-header {
    border-radius: 0px !important;
    background-color: #faf6ff;
    // border-bottom: 1px solid #DADADA;
}

.card {
    border-radius: 0px !important;
    background-color: #faf6ff;
    border-bottom: 1px solid #dadada;
}

.openclose .collapse.show {
    background-color: #faf6ff;
    border-bottom: 1.5px solid #dadada;
    border-top: 0px;
}
.openclose .collapsing {
    background-color: #faf6ff !important;
    border: none;
    border-top: 0px;
}
.main-button-mm {
    background-color: #faf6ff !important;
    // border: 0px 0px 38px 54px;
    // font-family: "Chakra Petch" !important;
    padding: 35px 30px !important;
    padding-bottom: 20px !important;
    // font-family: "Chakra Petch" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 130% !important;
    color: #111216 !important;
    // border-style: solid !important;
    // border-color: #ff00e7 !important;
    border-radius: 0px !important;
    border-bottom: 0px;
}

.main-button-mm.collapsed {
    background-color: #ffffff;

    padding: 35px 30px;
    background: transparent !important;
    // font-family: "Chakra Petch" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 130% !important;
    // border-color: #ffffff !important;
    color: #111216 !important;
    // border-style: solid !important;
    border-radius: 0px !important;
}

.card-body {
    transition: unset !important;
}
.collapse.show {
    transition: unset !important;
}
